<html>
<head>
</head>
<body>
<h1><em>這裡是要做每個獨立菜單網頁的 目前只有實作出回饋功能</em></h1>
<marquee behavior=alternate bgcolor=81c7d4><font color="微軟正黑體"><font size="5">Jerryㄉ網頁課</font></font></marquee>

<div align="right"><a href="/blogg/new"><button>New Post</button></a></div><hr>
	{% for post in post_list %}
		<div align="right">
			<a href="/blogg/edit?q={{ post.pk }}"><button>edit</button></a>
			<form action="" method="post">
				{% csrf_token %}
				<input type="hidden" name="pk" value="{{ post.pk }}">
				<input type="submit" value="delete">
			</form>
		</div>
		<h4>Title:</h4>{{ post.title }}
		<h4>Content:</h4>{{ post.content }}<hr>
		<h4>Score:</h4>{{ post.score }}<hr>
	{% endfor %}

<p><a href="menu"><input type=button value="回去menu"></a></p></body>
</html>