<h1><em>個人網頁哦</em></h1>
<marquee behavior=alternate bgcolor=7db9de><font size="5">Jerryㄉ網頁課</font></marquee>
<h1><font color="微軟正黑體">那就先來自我介紹一下哦</font></h1>>

{% for y in mynamee %}
<h2><font color="微軟正黑體">我的名字：{{y.namee}}</font></h2>
<h2><font color="微軟正黑體">我的綽號：{{y.nickname}}</font></h2>
<h2><font color="微軟正黑體">我的性別：{{y.sexs}}</font></h2>
<h2><font color="微軟正黑體">我的學號：{{y.stunumber}}</font></h2>
<h2><font color="微軟正黑體">我的生日：{{y.birthdayy}}</font></h2>
<h2><font color="微軟正黑體">我的星座：{{y.constellation}}</font></h2>
	{% endfor %}
<