<h1><em>部落格哦</em></h1>
<marquee behavior=alternate bgcolor=81c7d4><font color="微軟正黑體"><font size="5">Jerryㄉ網頁課</font></font></marquee>
<h1><font color="微軟正黑體">部落格要寫什麼呀?</font></h1>>

<h1><font color="微軟正黑體">那就再來自我介紹一下哦</font></h1>>

{% for j in myname %}
<h2><font face="微軟正黑體"><font color="db4d6d">我的名字：{{j.namee}}</font></h2>
<h2><font face="微軟正黑體"><font color="db4d6d">我的綽號：{{j.nickname}}</font></font></h2>
<h2><font face="微軟正黑體"><font color="db4d6d">我的性別：{{j.sexs}}</font></font></h2>
<h2><font face="微軟正黑體"><font color="db4d6d">我的學號：{{j.stunumber}}</font></font></h2>
<h2><font face="微軟正黑體"><font color="db4d6d">我的生日：{{j.birthdayy}}</font></font></h2>
<h2><font face="微軟正黑體"><font color="db4d6d">我的星座：{{j.constellation}}</font></font></h2>
	{% endfor %}

<h2>----------我是分隔線哦哦哦-----------</h2>
{% for k in ques %}
<h2><font color="微軟正黑體">問題：{{k.question_text}}</font></h2>
<h2><font color="微軟正黑體">時間：{{k.pub_date}}</font></h2>
	{% endfor %}

